@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif
}

body {
  background-color: #C1CFDA;
  height: 100%;
}

.home {
  font-size: 26px;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  font-size: 20px;
}

.logo {
  width: 400px;
}

.btn {
  text-decoration: none;
  color: black;
}

.bio {
  width: 60vw;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 4vw;
  margin: auto;
  margin-bottom: 450px;
  background-color: #9e81bc;
  color: white;
  text-decoration: none;
}

.tips {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 3vw;
  margin: auto;
  background-color: #333639;
  text-decoration: none;
  color: white;
}

.form {
  text-align: center;
  margin: auto;
}