@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
}

body {
  background-color: #c1cfda;
  height: 100%;
}

.home {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-btn {
  margin: 20px;
}

.logo {
  width: 400px;
}

.btn {
  padding: 50px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  transition: ease-in-out 0.6s;
}

.btn:hover {
  text-shadow: 2px -2px white;
}

.bio {
  width: 60vw;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.register-btn {
  text-align: center;
  text-decoration: none;
  margin: 30px;
  border: none;
  padding: 25px;
  background: #9e81bc;
  font-size: 25px;
  color: white;
  width: 350px;
  transition: ease-in-out 0.7s;
}

.register-btn:hover {
  background: #48406f;
}

.tipsBtn {
  padding: 18px;
  background-color: #333639;
  text-decoration: none;
  color: white;
  transition: ease-in-out 0.7s;
}

.tipsBtn:hover {
  background: #7b7f8a;
}

.form {
  text-align: center;
  margin: auto;
}

.cat {
  width: 250px;
  height: auto;
}

.bottom-box {
  position: relative;
  bottom: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.bottom-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.join-link {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 670px) {
  .cat {
    display: none;
  }

  .bottom-box {
    justify-content: center;
  }

  .register-btn {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .Nav {
    flex-direction: column;
  }
  
  .btn {
    padding: 10px;
  }
  
  .logo {
    width: 350px;
  }
  
  .bio {
    width: 80vw;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    width: 300px;
  }
}


.fourfour {
  display: block;
  margin: auto;
  max-width: 50%;
}