.title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.tips {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 60vw;
    background: white;
    margin-bottom: 50px;
}

.tip {
    padding: 10px;
    margin: 10px auto 10px auto;
    width: 80%;
    height: min-content;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    transition: ease-in-out 0.7s;
    background-color: #9e81bc;

}

.tips>div:nth-child(even){
    background-color:#C1CFDA;
}

@media screen and (max-width: 1280px) {
    .tips {
        padding: 10px;
    }

    .tip {
        width: 80%;
        text-align: center;
    }

    .tips>div:nth-child(even){
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .tips {
        padding: 10px;
    }

    .tip {
        width: 90%;
        text-align: center;
        font-size: 16px;
        margin: auto;
        margin-bottom: 5px;
    }

    .tips>div:nth-child(even){
        margin: auto;
        text-align: center;
        margin-bottom: 5px;
    }
}