/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7b7f8a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #333639;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9e81bc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9e81bc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.row {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-form {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.row input {
  width: 35vw;
  height: 25px;
  border: none;
  padding: 5px;
  margin: 20px;
}

.row label {
  font-size: 30px;
}

.btnColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timerCard {
  margin: 30px;
}

.timerCard h2 {
  font-size: 30px;
  color: #48406F;
}

.counter {
  margin: 20px;
  font-size: 80px;
  color: white;
  background: #9E81BC;
  text-align: center;
}

.questionTitle {
  font-size: 50px;
}

.questionCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.questionCard button {
  width: 18vw;
}

@media screen and (max-width: 770px) {
  .questionCard button {
    width: 80vw;
  }

  .questionTitle {
    font-size: 40px;
  }

  .column,
  .btnColumn {
    flex-direction: column;
  }

  .row input {
    width: 80vw;
  }
}

@media screen and (max-width: 500px) {
  .btnColumn button {
    width: 80vw;
    margin: 10px;
    margin-top: 20px;
  }

  .room-form {
    margin-top: 10px;
  }

  .room-form button {
    width: 80vw;
  }
}