.dark {
    background-color: #333639;
    color: white;  
}

.dark .tipsBtn {
    background-color: #7B7F8A;
    color: white;
}

.dark .tipsBtn:hover {
    background: #C1CFDA;
    color: black;
}

.dark .nav-btn a {
    color: white;
}

.dark .nav-btn a:hover,
.dark .join-link:hover {
    text-shadow: 2px -2px #9e81bc;
}

.dark .chatbox {
    background-color: #7B7F8A;
}

.dark .messages>div.received-message{
    background-color: #333639;
}

.dark .messages>div.sent-message{
    background-color: #48406F;
}

.dark .timerCard h2 {
    color: white;
}

.dark .text-input {
    background-color: #48406F;
}

.dark input {
    background-color: #7B7F8A;
    color: white;
}

.dark input::placeholder {
    color: white;
}

.dark .user {
    background-color: #7B7F8A;
}

.dark .logo {
    content: url("/public/CATtention-logo-dark.png")
}

.dark .cat-right {
    content: url("/public/stretch-cat-white.png");
}

.dark .cat-left {
    content: url("/public/wave-cat-white.png");
}

.dark .join-link {
    color: white;
}

.dark .slider:before {
    background: #9e81bc;
}

.dark input:checked + .slider {
    background-color: #C1CFDA;
}