body {
    margin: 15px;
}

.user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    font-size: 40px;
    background-color: white;
}

.username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.username p,
.username img {
  margin: 20px;
}

.userStats {
  margin: 20px;
}

.user-cat {
    border-radius: 50%;
    height: 100px;
}

.info {
    display: flex;
    margin-top: 15px;
}

.badges, .settings {
    flex: 50%;
    font-size: 40px;
    text-align: center;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.achievement {
  width: 100px;
  border-radius: 100%
}

.theme, .language {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 24px;
}

.lang-select {
    margin-left: 50px;
    width: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 50px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9e81bc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #48406F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #48406F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

@media screen and (max-width: 580px) {
  .user {
    flex-direction: column;
  }

  .achievement {
    width: 70px;
  }
}