body {
    height: 100%;
}

.room {
    display: flex;
    padding: 15px;
}

.timer {
    flex: 50%;
    text-align: center;
}
.chatbox {
    width: 45vw;
    background-color: white;
    text-align: center;
    height: 80vh;
}

.room-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48406F;
    color: white;
    font-size: 40px;
    height: 75px;
}

.text-input {
    background-color: #C1CFDA;
}

.messages {
    padding: 10px;
    overflow-y: scroll;
    max-height: 55vh;
}

.messages::-webkit-scrollbar {
    display: none;
}
/* Alternating message CSS, can be adjusted, just did basic color for now */
.messages>div:nth-child(even){
    background-color:#9e81bc;
    text-align: left;
    padding: 5px;
    margin-bottom: 10px;
    width: 45%;
}

.messages>div:nth-child(odd){
    background-color: #C1CFDA;
    text-align: right;
    padding: 5px;
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: 10px;
    width: 45%;
}

.send-box {
    display: flex;
    justify-content: center;
    align-items: center;
}