/* body {
    height: 100%;
} */

.room {
    display: flex;
    padding: 15px;
}

.timer {
    flex: 50%;
    text-align: center;
}

.chatbox {
    position: relative;
    width: 50vw;
    background-color: white;
    text-align: center;
    height: 70vh;
}

.room-title {
    height: 70px;
    background-color: #48406F;
    color: white;
    font-size: 40px;
}

.users ul li{
    list-style-type: none;
}

.messages {
    padding: 10px;
    overflow-y: scroll;
    max-height: 40vh;
}

.message {
    display: flex;
}

.messages::-webkit-scrollbar {
    display: none;
}
/* Alternating message CSS, can be adjusted, just did basic color for now */
.messages>div.received-message{
    text-align: left;
    padding: 5px;
    margin-bottom: 10px;
    width: 45%;
    background-color:#9e81bc;
}

.messages>div.sent-message{
    padding: 5px;
    text-align: left;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 10px;
    width: 45%;
    background-color: #C1CFDA;
}

.messages>div.sent-message .left{
    float: left;
    width: 20%;
}

.messages>div.received-message .left{
    float: left;
    width: 20%;
}

.username, .timestamp {
    font-weight: bold;
}

.chat-img {
    height: 50px;
    border-radius: 100%;
}

.send-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-input {
    width: 25vw;
    border: none;
    font-size: 20px;
    line-height: 3em;
    padding: 2px;
    background-color: #C1CFDA;
}

@media screen and (max-width: 1880px) {
    .chatbox {
        height: 100%;
        width: 100%
    }

    .text-input {
        margin: 20px;
        width: 80%;
    }
}

@media screen and (max-width: 1280px) {
    .room {
        flex-direction: column;
    }

    .chatbox {
        height: 100%;
        width: 100%
    }

    .messages>div.received-message{
        width: 50%;
    }

    .messages>div.sent-message{
        width: 50%;
    }

    .messages>div.sent-message .left{
        float: left;
        width: 30%;
    }

    .messages>div.received-message .left{
        float: left;
        width: 30%;
    }

    .text-input {
        margin: 20px;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .chatbox {
        height: 100%;
    }

    .text-input {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .send-box {
        height: 50vh;
    }

}